<a href="https://colab.research.google.com/github/danieldrako/Manipulacion-Transformacion-Datos-Pandas-NumPy/blob/main/10Series_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#Pandas
Pandas es una librería de Python especializada en el manejo y análisis de estructuras de datos. El nombre viene de “Panel data”.

• Velocidad

• Poco código

• Múltiples formatos de archivos

• Alineación inteligente

##Pandas Series
Es muy parecido a un array de una dimensión (o vector) de NumPy.

• Arreglo unidimensional indexado\
• Búsqueda por índice\
• Slicing\
• Operaciones aritméticas\
• Distintos tipos de datos

##Pandas DataFrame
Muy parecido a las estructuras matriciales trabajadas con NumPy.

• Estructura principal\
• Arreglo de dos dimensiones\
• Búsqueda por índice (columnas o filas)\
• Slicing\
• Operaciones aritméticas\
• Distintos tipos de datos\
• Tamaño variable

##Series
Es un arreglo unidimensional indexado

In [ ]:
#Definiendo una lista con índices específicos
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'], index=[1,7,10,30])
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [ ]:
#Búsqueda por índices
dict = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [ ]:
psg_players[7]

'Mbappe'

In [ ]:
#Búsqueda mediante Slicing
psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

##Pandas

In [ ]:
dict = {'Jugador':['Navas','Mbappe','Neymar','Messi'],
 'Altura':[183.0, 170.0, 170.0, 163.0],
  'Goles':[1, 200, 150, 500]}

In [ ]:
df_players = pd.DataFrame(dict, index=[1,7,10,30])
df_players

   Jugador  Altura  Goles
1    Navas   183.0      1
7   Mbappe   170.0    200
10  Neymar   170.0    150
30   Messi   163.0    500

In [ ]:
#Búsqueda por índices. Columnas
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [ ]:
#Búsqueda por índice.
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')