<a href="https://colab.research.google.com/github/danieldrako/Manipulacion-Transformacion-Datos-Pandas-NumPy/blob/main/17Funciones_principales_de_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Funciones 

Hay ciertas funciones que son muy importantes y que siempre estaremos usando a la hora de hacer análisis de datos, para mayor facilidad y comprensión del DataFrame.

- Mostrar las primeras dos líneas de registro

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_books = pd.read_csv('/content/bestsellers-with-categories.csv', sep=',', header = 0)
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [ ]:
#Mostrar los diferentes datos que contiene el DataFrame
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [ ]:
#Obtener diferentes datos estadísticos de las columnas numéricas
df_books.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

In [ ]:
#Mostrar los últimos 5 registros del DataFrame
df_books.tail()

,Name,Author,User Rating,Reviews,Price,Year,Genre
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
#Obtener el uso de la memoria de cada columna
df_books.memory_usage(deep=True)

Index            128
Name           59737
Author         39078
User Rating     4400
Reviews         4400
Price           4400
Year            4400
Genre          36440
dtype: int64

In [ ]:
#Obtener cuantos datos tenemos de algo en específico
df_books['Author'].value_counts()
#Muestra cuantos datos hay de cada autor

Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
                                      ..
Keith Richards                         1
Chris Cleave                           1
Alice Schertle                         1
Celeste Ng                             1
Adam Gasiewski                         1
Name: Author, Length: 248, dtype: int64

In [ ]:
#Eliminar registros duplicados
df_books.drop_duplicates()#

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
#Ordenar los registros según valores de la columna (orden ascendente)
df_books.sort_values('Year')
#ordena los valores de menor a mayor segun el año

,Name,Author,User Rating,Reviews,Price,Year,Genre
177,"I, Alex Cross",James Patterson,4.6,1320,7,2009,Fiction
131,Glenn Beck's Common Sense: The Case Against an...,Glenn Beck,4.6,1365,11,2009,Non Fiction
417,The Last Lecture,Randy Pausch,4.7,4028,9,2009,Non Fiction
241,New Moon (The Twilight Saga),Stephenie Meyer,4.6,5680,10,2009,Fiction
72,Diary of a Wimpy Kid: The Last Straw (Book 3),Jeff Kinney,4.8,3837,15,2009,Fiction
...,...,...,...,...,...,...,...
150,Guts,Raina Telgemeier,4.8,5476,7,2019,Non Fiction
466,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.6,26490,15,2019,Non Fiction
462,The Silent Patient,Alex Michaelides,4.5,27536,14,2019,Fiction
130,"Girl, Wash Your Face: Stop Believing the Lies ...",Rachel Hollis,4.6,22288,12,2019,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
#Ordenar los registros según valores de la columna (orden descendente)
df_books.sort_values('Year', ascending=False)
 #ordena los valores de mayor a menor segun el año

,Name,Author,User Rating,Reviews,Price,Year,Genre
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction
294,School Zone - Big Preschool Workbook - Ages 4 ...,School Zone,4.8,23047,6,2019,Non Fiction
489,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,8842,10,2019,Fiction
263,P is for Potty! (Sesame Street) (Lift-the-Flap),Naomi Kleinberg,4.7,10820,5,2019,Non Fiction
130,"Girl, Wash Your Face: Stop Believing the Lies ...",Rachel Hollis,4.6,22288,12,2019,Non Fiction
...,...,...,...,...,...,...,...
418,The Last Olympian (Percy Jackson and the Olymp...,Rick Riordan,4.8,4628,7,2009,Fiction
38,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
92,"Eat This, Not That! Thousands of Simple Food S...",David Zinczenko,4.3,956,14,2009,Non Fiction
139,Good to Great: Why Some Companies Make the Lea...,Jim Collins,4.5,3457,14,2009,Non Fiction
299,Sookie Stackhouse,Charlaine Harris,4.7,973,25,2009,Fiction

In [ ]:
df_books.T

,0,1,2,3,4,5,6,7,8,9,...,540,541,542,543,544,545,546,547,548,549
Name,10-Day Green Smoothie Cleanse,11/22/63: A Novel,12 Rules for Life: An Antidote to Chaos,1984 (Signet Classics),"5,000 Awesome Facts (About Everything!) (Natio...",A Dance with Dragons (A Song of Ice and Fire),A Game of Thrones / A Clash of Kings / A Storm...,A Gentleman in Moscow: A Novel,"A Higher Loyalty: Truth, Lies, and Leadership",A Man Called Ove: A Novel,...,Wonder,Wonder,Wonder,Wonder,Wonder,Wrecking Ball (Diary of a Wimpy Kid Book 14),You Are a Badass: How to Stop Doubting Your Gr...,You Are a Badass: How to Stop Doubting Your Gr...,You Are a Badass: How to Stop Doubting Your Gr...,You Are a Badass: How to Stop Doubting Your Gr...
Author,JJ Smith,Stephen King,Jordan B. Peterson,George Orwell,National Geographic Kids,George R. R. Martin,George R. R. Martin,Amor Towles,James Comey,Fredrik Backman,...,R. J. Palacio,R. J. Palacio,R. J. Palacio,R. J. Palacio,R. J. Palacio,Jeff Kinney,Jen Sincero,Jen Sincero,Jen Sincero,Jen Sincero
User Rating,4.7,4.6,4.7,4.7,4.8,4.4,4.7,4.7,4.7,4.6,...,4.8,4.8,4.8,4.8,4.8,4.9,4.7,4.7,4.7,4.7
Reviews,17350,2052,18979,21424,7665,12643,19735,19699,5983,23848,...,21625,21625,21625,21625,21625,9413,14331,14331,14331,14331
Price,8,22,15,6,12,11,30,15,3,8,...,9,9,9,9,9,8,8,8,8,8
Year,2016,2011,2018,2017,2019,2011,2014,2017,2018,2016,...,2013,2014,2015,2016,2017,2019,2016,2017,2018,2019
Genre,Non Fiction,Fiction,Non Fiction,Fiction,Non Fiction,Fiction,Fiction,Fiction,Non Fiction,Fiction,...,Fiction,Fiction,Fiction,Fiction,Fiction,Fiction,Non Fiction,Non Fiction,Non Fiction,Non Fiction

In [ ]:
df_books.sort_index(axis=1, ascending=False)

,Year,User Rating,Reviews,Price,Name,Genre,Author
0,2016,4.7,17350,8,10-Day Green Smoothie Cleanse,Non Fiction,JJ Smith
1,2011,4.6,2052,22,11/22/63: A Novel,Fiction,Stephen King
2,2018,4.7,18979,15,12 Rules for Life: An Antidote to Chaos,Non Fiction,Jordan B. Peterson
3,2017,4.7,21424,6,1984 (Signet Classics),Fiction,George Orwell
4,2019,4.8,7665,12,"5,000 Awesome Facts (About Everything!) (Natio...",Non Fiction,National Geographic Kids
...,...,...,...,...,...,...,...
545,2019,4.9,9413,8,Wrecking Ball (Diary of a Wimpy Kid Book 14),Fiction,Jeff Kinney
546,2016,4.7,14331,8,You Are a Badass: How to Stop Doubting Your Gr...,Non Fiction,Jen Sincero
547,2017,4.7,14331,8,You Are a Badass: How to Stop Doubting Your Gr...,Non Fiction,Jen Sincero
548,2018,4.7,14331,8,You Are a Badass: How to Stop Doubting Your Gr...,Non Fiction,Jen Sincero
549,2019,4.7,14331,8,You Are a Badass: How to Stop Doubting Your Gr...,Non Fiction,Jen Sincero